<main>
    <nav class="navbar">
        <div class="container-fluid">
            <div>
                <button type="button"
                    (click)="showActive()">
                    <i [ngClass]="{ 'menu-active' :active }" class="fa fa-bars d-lg-block d-none"></i>
                    <i  class="fa fa-bars menu-active d-lg-none d-block"></i>
                </button>
                <span>Oriana
                    > Data Warehouse</span>
            </div>
            <i class="fa fa-gear setting"></i>
        </div>
    </nav>
    <div class="wrapper d-flex">
        <!-- Sidebar  -->
        <nav id="sidebar" *ngIf="!active">
            <i (click)="showActive()" class="bi bi-x-lg close d-lg-none d-block" style="color: #fff;"></i>
            <div class="search">
                <input type="text" placeholder="search menu...">
                <i class="fa fa-search"></i>
            </div>

            <div class="menu-list-items">
                <div class="item" *ngFor="let item of sidebarData;let index= index">
                    <div class="d-flex justify-content-between
                        align-items-center" (click)="showSubItem(index)">
                        <div class="d-flex align-items-center">
                            <div class="icon" style="margin-right: 0.3rem;">
                                <i class="{{item.icon}}"></i>
                            </div>
                            <a href="#">{{item.listName}}</a>
                        </div>
                        <i class="{{item.subStatus}}" [ngClass]="{ 'rotate' :
                            visibleIndex === index}" style="font-size: 1.2rem;"></i>
                    </div>
                    <div class="sub-menu" *ngIf="visibleIndex === index">
                        <div class="sub-item" *ngFor="let subItem of item.subNames">
                            <div class="d-flex align-items-center">
                                <div class="icon" style="margin-right: 0.3rem;">
                                    <i class="{{subItem.icon}}"></i>
                                </div>
                                <a href="">{{subItem.listName}}</a>
                                
                            </div>
                            <div class="sub-item" style="margin-left: 2rem;" *ngFor="let doublesubItem of item.subNames.subNames">
                                <div class="d-flex align-items-center">
                                    <div class="icon" style="margin-right: 0.3rem;">
                                        <i class="{{doublesubItem.icon}}"></i>
                                    </div>
                                    <a href="">{{doublesubItem.listName}}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </nav>

        <div id="content">
            <div class="filter-transaction d-flex">
                <div class="filters">
                    <div class="info-icon d-flex justify-content-center
                        align-items-center">
                        <i class="fa fa-info"></i>
                    </div>
                    <div class="d-flex justify-content-between">
                        <div class="search">

                            <form class="search-form" [formGroup]="filterForm">
                                <div class="form-group d-flex">
                                    <div>
                                        <span>Attribute</span>
                                    </div>
                                    <div style="width: 100%; text-align: center;">
                                        <span>value</span>
                                    </div>
                                </div>
                                <div class="form-group" style="position: relative;">
                                    <div style="position: absolute;left: 0; top: 0;">
                                        <label class="col-form-label">Date Time</label>
                                    </div>
                                    <div style="margin-left: 2.5rem;">
                                        <input type="text">
                                    </div>
                                </div>
                                <div class="form-group" style="position:
                                    relative;">
                                    <div style="position: absolute;left: 0; top: 0;">
                                        <label class="col-form-label">Filters</label>
                                    </div>
                                    <div *ngFor="let filter of getFiltersFormControls(); let i= index"
                                        style="margin-left: 2.5rem;">
                                        <input [formControl]="filter"  type="text">
                                    </div>
                                    <div style="position: absolute; right:
                                        -2rem; top: 0.5rem;">
                                        <button style="color: gray; border:
                                            none!important; background-color:
                                            transparent; margin-left: 1rem;"> <i
                                                class="fa fa-plus"
                                                (click)="addFilter()"></i>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="information-box">
                            <h3>Data information</h3>
                            <div class="get-information">
                                <div class="get-items">
                                    <span><b>Device Brand:</b>FortiNet <b>Device
                                            Model:</b>60F</span>
                                </div>
                                <div class="get-items">
                                    <span><b>Date İndex:</b>True <b>Time Index:</b>True
                                        <b>Log Index:</b>True</span>
                                </div>
                                <div class="get-items">
                                    <span><b>Archive Status:</b><a style="color:
                                            blue !important;">Show All</a></span>
                                </div>
                                <div class="get-items">
                                    <span><b>Total Log Count:</b>3825487</span>
                                </div>
                                <div class="get-items">
                                    <span><b>Log Count Today:</b>25487</span>
                                </div>
                                <div class="get-items">
                                    <span><b>Deduplication Status:</b>True</span>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="chart d-lg-block d-none">

                </div>
            </div>
            <div class="fortigate d-flex justify-content-between
                align-items-center">
                <span>FortiGate IAU</span>
                <i class="fa fa-chevron-up chevron-icon" [ngClass]="{ 'rotate' :
                    showData }" (click)="isShowData()"></i>
                <div class="info-icon d-flex justify-content-center
                    align-items-center">
                    <i class="fa fa-info"></i>
                </div>
            </div>
            <div *ngIf="!showData">
                <div class="table-responsive">
                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th scope="col">Date</th>
                                <th scope="col">Time</th>
                                <th scope="col" class="mobile-none">Type</th>
                                <th scope="col">Src IP</th>
                                <th scope="col" class="mobile-none">Src Name</th>
                                <th scope="col" class="mobile-none">Dst IP</th>
                                <th scope="col">Dst User</th>
                                <th scope="col" class="mobile-none">Service</th>
                                <th scope="col" class="mobile-none">OS Name</th>
                                <th scope="col">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let data of dataWare | slice: (page-1) *  pageSize : page * pageSize">
                                <td class="d-flex align-items-center">
                                    <input type="checkbox"> {{data.date}}
                                </td>
                                <td>{{data.time}}</td>
                                <td class="mobile-none"><i class="fa fa-circle dash-type"></i>{{data.type}}</td>
                                <td>{{data.srcIP}}</td>
                                <td class="mobile-none">{{data.srcName}}</td>
                                <td class="mobile-none">{{data.dstIP}}</td>
                                <td>{{data.dstUser}}</td>
                                <td class="mobile-none">{{data.service}}</td>
                                <td class="mobile-none">{{data.OSName}}</td>
                                <td><i class="fa fa-circle circle-actions"></i><i
                                        class="fa fa-circle circle-actions"></i><i class="fa
                                        fa-circle circle-actions"></i></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <ngb-pagination class="d-flex justify-content-center align-items-center" [(page)]="page" [pageSize]="pageSize"
                    [collectionSize]="dataWare.length"></ngb-pagination>
            </div>
        </div>
    </div>
</main>