@import "../../../styles.scss";

main {
  position: relative;
  .navbar {
    padding: 0.5rem;
    background-color: transparent;
    border: none;
    border-radius: 0;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
    position: absolute;
    width: 82.3%;
    z-index: 99;
    background: transparent;
    right: 0;
    border-radius: 0rem 0rem 0rem 1rem;
    @media screen and(max-width:1366px) {
      width: 81.3%;
    }
    @media screen and(max-width:$xl-breakpoint) {
      width: 100%;
    }
    button {
      border: none;
      background-color: transparent;
      color: var(--white-color);
    }
    span {
      margin-left: 1.5rem;
      color: var(--grey-color);
      font-size: 0.7rem;
    }
    .setting {
      color: var(--grey-color);
      font-size: 1.4rem;
      cursor: pointer;
    }
  }
  .wrapper {
    width: 100%;
    align-items: stretch;
    #sidebar {
      min-width: 18rem;
      max-width: 18rem;
      background: rgb(13, 28, 124);
      background: linear-gradient(
        353deg,
        rgba(13, 28, 124, 1) 0%,
        rgba(35, 51, 147, 1) 27%,
        rgba(48, 63, 161, 1) 36%,
        rgba(63, 80, 179, 1) 46%,
        rgba(72, 87, 186, 1) 54%,
        rgba(90, 106, 206, 1) 70%,
        rgba(113, 129, 230, 1) 88%
      );
      color: var(--light-grey-color);
      transition: all 0.3s;
      padding: 4rem 1.5rem 1.5rem 2rem;
      border-radius: 0rem 0.7rem 0rem 0rem;
      box-shadow: 2px 1px 23px 1px rgba(0, 0, 0, 0.75);
      -webkit-box-shadow: 2px 1px 23px 1px rgba(0, 0, 0, 0.75);
      -moz-box-shadow: 2px 1px 23px 1px rgba(0, 0, 0, 0.75);

      @media screen and(max-width:$xl-breakpoint) {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 99999;
      }
      @media screen and(max-width:$sm-breakpoint) {
        min-width: 100%;
        max-width: 100%;
      }

      .close {
        color: var(--white-color);
        position: absolute;
        top: 1rem;
        right: 2rem;
        font-size: 1rem;
      }
      .search {
        position: relative;
        width: 100%;

        input {
          border-radius: 9px;
          border: none;
          width: 100%;
          font-family: "Poppins", sans-serif;
          font-size: 0.6rem;
          height: 1.8rem;
          padding-left: 1rem;
        }
        input:focus {
          outline: none;
          box-shadow: none;
        }
        input::placeholder {
          color: var(--grey-color);
        }
        i {
          color: var(--grey-color);
          position: absolute;
          width: unset;
          top: 0.3rem;
          bottom: 0;
          right: 0.5rem;
        }
      }

      .menu-list-items {
        margin-top: 1.3rem;
        width: 100%;
        font-size: 0.8rem;
        line-height: 2;
        font-weight: 400;

        .item {
          .icon {
            margin-right: 0.3rem;
          }
          .chevron-icon {
            font-size: 1.2rem;
          }
          a {
            color: var(--light-grey-color);
            font-family: "Poppins", sans-serif;
          }
          cursor: pointer;
          .sub-menu {
            padding-left: 1rem;
            .sub-item {
              .icon {
                margin-right: 0.3rem;
              }
            }
          }
        }
      }
    }

    #content {
      width: 100%;
      min-height: 100vh;
      transition: all 0.3s;
      padding: 0rem 1rem;
      background-color: var(--white-color);
      box-shadow: 5px 2px 30px -27px #000000;
      border-radius: 6px;
      margin: 3rem 0.4rem 0.4rem 0.4rem;
      @media screen and(max-width:$sm-breakpoint) {
        margin: 3rem 0rem 0rem 0rem;
      }

      .filter-transaction {
        color: black;
        padding-top: 1rem;
        height: 16rem;

        .filters {
          position: relative;
          padding: 1rem;
          background-color: white;
          width: 60%;
          border-radius: 16px;
          -webkit-box-shadow: 5px 2px 30px -27px #000000;
          box-shadow: 5px 2px 30px -27px #000000;
          color: var(--dark-grey-color);
          font-size: 0.7rem;
          @media screen and(max-width:$xl-breakpoint) {
            width: 100%;
          }
          .info-icon {
            @include info-icon;
          }

          .search {
            width: 41%;
            @media screen and(max-width:$sm-breakpoint) {
              width: 90%;
            }
            form {
              width: 100%;
              height: 100%;
              .form-group {
                font-weight: 500;
                margin-bottom: 0.2rem;
                position: relative;
                .value {
                  width: 100%;
                  text-align: center;
                }
                .label-area {
                  position: absolute;
                  left: 0;
                  top: 0.5rem;
                  label {
                    font-size: 0.5rem;
                  }
                }

                .input-area {
                  margin-left: 2.5rem;
                  input[type="text"] {
                    @include input;
                    @include information-items-and-input;
                    margin-left: 1rem;
                    width: 100%;
                  }
                  input:focus {
                    outline: none;
                    box-shadow: none;
                  }
                  input::placeholder {
                    color: var(--grey-color);
                  }
                }
              }

              .icon-area {
                position: absolute;
                right: -2rem;
                top: 0.7rem;
                .fa {
                  color: var(--grey-color);
                  border: none !important;
                  background-color: transparent;
                  margin-left: 1rem;
                  cursor: pointer;
                }
              }

              .button-area {
                margin-left: 1rem;
                .btn {
                  background: rgb(13, 28, 124);
                  background: linear-gradient(
                    23deg,
                    rgba(72, 87, 186, 1) 54%,
                    rgba(90, 106, 206, 1) 70%,
                    rgba(113, 129, 230, 1) 88%
                  );
                  border-radius: 3rem 0rem 3rem 0rem;
                  width: 37%;
                  color: var(--white-color);
                  box-shadow: none;
                  @include input;
                  font-size: 0.6rem;
                  padding: 0.2rem 0;
                  .fa {
                    margin-left: 0.3rem;
                  }
                }
              }
            }
          }
          .information-box {
            width: 50%;
            h3 {
              font-size: 0.7rem;
            }
            .get-information {
              text-align: center;
              position: relative;
              margin-top: 1rem;
              .get-items {
                @include information-items-and-input;
                a {
                  color: var(--blue-color);
                }
              }
              &::before {
                position: absolute;
                content: "";
                display: block;
                width: 0.1rem;
                background-color: var(--grey-color);
                height: 92%;
                left: -0.7rem;
                top: 0;
              }
            }

            @media screen and(max-width:$sm-breakpoint) {
              display: none;
            }
          }
        }

        .chart {
          background-color: white;
          width: 40%;
          border-radius: 16px;
          -webkit-box-shadow: 5px 2px 30px -27px #000000;
          box-shadow: 5px 2px 30px -27px #000000;
          position: relative;
          padding: 1rem;
          color: var(--text-gray-color);
          font-weight: 300;
          font-size: 0.9rem;
          @media screen and(max-width:$xl-breakpoint) {
            display: none !important;
          }
          .tab-menu {
            .item {
              padding: 0.1rem 0.8rem;
              margin-bottom: 1rem;
              cursor: pointer;
              &:hover {
                background: black;
                border-radius: 7px;
                color: var(--white-color);
              }
            }
          }

          .info-icon {
            @include info-icon;
          }
          .text-filter{
            bottom: -0.5rem;
          }
        }
      }
      .fortigate {
        color: var(--purple-color);
        margin: 1rem 0;
        border-bottom: 3px solid var(--light-grey-color);
        padding-bottom: 0.5rem;
        .info-icon {
          position: relative !important;
          @include info-icon;
        }
        .chevron-icon {
          cursor: pointer;
          color: var(--grey-color);
        }
      }

      .table {
        font-size: 0.6rem;
        font-weight: 400;
        color: var(--text-gray-color);
        border-collapse: separate;
        border-spacing: 0 1rem;
        margin-top: -1rem;

        thead {
          background-color: var(--light-grey-color);
        }
        thead,
        tbody {
          border: none;
          th:first-child {
            border-radius: 10px 0px 0px 10px;
          }
          th:last-child {
            border-radius: 0px 10px 10px 0px;
          }

          .mobile-none {
            @media screen and(max-width:$sm-breakpoint) {
              display: none;
            }
          }
          tr,
          th,
          td {
            border: none;
            font-weight: 400;
            vertical-align: middle;
          }
          td {
            color: var(--black-color);
            input[type="checkbox"] {
              @include input;
              margin-right: 0.5rem;
              border: 2px solid var(--light-grey-color);
              border-radius: 5px 5px;
              height: 1.3rem;
              width: 1.3rem;
              display: flex;
              justify-content: center;
              align-items: center;
              &:checked {
                border-color: var(--blue-color);
                background-color: var(--blue-color);
                &:before {
                  content: "";
                  background-color: var(--white-color);
                  width: 0.5rem;
                  height: 0.5rem;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                }
              }
            }
            .dash-type {
              margin-right: 0.5rem;
              color: red;
            }
            .circle-actions {
              margin-right: 0.2rem;
              color: var(--light-blue-color);
              &:last-child {
                margin-right: inherit;
              }
            }
            &:first-child {
              border-radius: 10px 0px 0px 10px;
            }
            &:last-child {
              border-radius: 0px 10px 10px 0px;
            }
          }
          @media screen and(max-width:$sm-breakpoint) {
            font-size: 0.5rem;
          }
        }
      }
    }
  }
}

/* Pagination */

ngb-pagination ::ng-deep a {
  color: var(--black-color);
  border: none;
  display: inline;
  border-radius: 7px;
  font-size: 0.7rem;
  font-weight: 500;
  box-shadow: none;
  &:active {
    color: var(--white-color);
  }
}
ngb-pagination ::ng-deep .page-item.active .page-link {
  background-color: var(--blue-color);
  padding: 0.3rem 0.5rem;
  box-shadow: none;
}
ngb-pagination ::ng-deep .page-item.active .page-link:focus,
.page-link:not(:disabled):not(.disabled):active:focus {
  box-shadow: none;
}
ngb-pagination ::ng-deep .page-link:not(:disabled):not(.disabled):active:focus {
  box-shadow: none;
}
