<div class="wrapper d-flex">
    <!-- Sidebar  -->
    <nav id="sidebar" class="d-lg-block d-none" *ngIf="!active">

        <div class="search">
            <input type="text" placeholder="search menu...">
            <i class="fa fa-search"></i>
        </div>
        <div class="menu-list-items">
            <div class="item d-flex justify-content-between
                align-items-center">
                <div class="d-flex align-items-center">
                    <div class="icon">
                        d
                    </div>
                    <a href="#">Dashboard</a>
                </div>
            </div>
            <div class="item">
                <div class="d-flex justify-content-between
                    align-items-center" (click)="toggleMenu($event)">
                    <div class="d-flex align-items-center">
                        <div class="icon">
                            f
                        </div>
                        <a href="#">Products</a>
                    </div>
                    <i class="fa fa-angle-down" [ngClass]="{ 'rotate' :
                        subMenuToggle }"></i>
                </div>
                <div class="sub-menu" *ngIf="subMenuToggle">
                    <div class="sub-item">
                        <div class="d-flex align-items-center">
                            <div class="icon">
                                f
                            </div>
                            <a href="#">Added Products</a>
                        </div>
                        <div class="d-flex align-items-center">
                            <div class="icon">
                                f
                            </div>
                            <a href="#">New Product</a>
                        </div>
                        <div class="d-flex align-items-center">
                            <div class="icon">
                                f
                            </div>
                            <a href="#">Supported Devices</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="d-flex justify-content-between
                    align-items-center" (click)="toggleMenu($event)">
                    <div class="d-flex align-items-center">
                        <div class="icon">
                            f
                        </div>
                        <a href="#">Reports</a>
                    </div>
                    <i class="fa fa-angle-down" [ngClass]="{
                        'rotate':subMenuToggle }"></i>
                </div>
                <div class="sub-menu" *ngIf="subMenuToggle">
                    <div class="sub-item">
                        <div class="d-flex align-items-center">
                            <div class="icon">
                                f
                            </div>
                            <a href="#">Created Reports</a>
                        </div>
                        <div class="d-flex align-items-center">
                            <div class="icon">
                                f
                            </div>
                            <a href="#">New Report</a>
                        </div>
                        <div class="d-flex align-items-center">
                            <div class="icon">
                                f
                            </div>
                            <a href="#">Update Reports</a>
                        </div>
                        <div class="d-flex align-items-center">
                            <div class="icon">
                                f
                            </div>
                            <a href="#">Delete Reports</a>
                        </div>
                        <div class="d-flex align-items-center"
                            style="padding-left: 1rem;">
                            <div class="icon">
                                f
                            </div>
                            <div class="d-flex align-items-center
                                justify-content-between w-100">
                                <a href="#">Report Histories</a>
                                <i class="fa fa-angle-down"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="d-flex justify-content-between
                    align-items-center" (click)="toggleMenu($event)">
                    <div class="d-flex align-items-center">
                        <div class="icon">
                            f
                        </div>
                        <a href="#">Compression</a>
                    </div>
                    <i class="fa fa-angle-down" [ngClass]="{
                        'rotate':subMenuToggle }"></i>
                </div>
                <div class="sub-menu" *ngIf="subMenuToggle">
                    <div class="sub-item">
                        <div class="d-flex align-items-center">
                            <div class="icon">
                                f
                            </div>
                            <div class="d-flex align-items-center
                                justify-content-between w-100">
                                <a href="#">Check Compression Status</a>
                                <i class="fa fa-angle-down" [ngClass]="{
                                    'rotate':subMenuToggle }"></i>
                            </div>
                        </div>
                        <div class="d-flex align-items-center">
                            <div class="icon">
                                f
                            </div>
                            <a href="#">Create Custom Compression</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item d-flex justify-content-between
                align-items-center">
                <div class="d-flex align-items-center">
                    <div class="icon">
                        d
                    </div>
                    <a href="#">Data Warehouse</a>
                </div>
            </div>
            <div class="item d-flex justify-content-between
                align-items-center">
                <div class="d-flex align-items-center">
                    <div class="icon">
                        d
                    </div>
                    <a href="#">Login Activities</a>
                </div>
            </div>
            <div class="item d-flex justify-content-between
                align-items-center">
                <div class="d-flex align-items-center">
                    <div class="icon">
                        d
                    </div>
                    <a href="#">System Logs</a>
                </div>
            </div>
        </div>
    </nav>

    <div id="content">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">

                <button type="button" 
                    (click)="showActive()" style="border: none;">
                    <i class="fa fa-bars"></i>
                </button>

            </div>
        </nav>

        <div class="test d-flex">
            <div class="filters">
                <div class="info-icon w-100 d-flex
                    justify-content-end">
                    icon
                </div>
                <div>
                    <div class="search d-flex">
                        <div class="d-flex justify-content-between
                            w-100">
                            <span>Attribute</span>
                            <span>value</span>
                        </div>
                        <div>

                        </div>
                    </div>
                    <div class="information">

                    </div>
                </div>

            </div>
            <div class="chart d-lg-block d-none">

            </div>
        </div>
        <div class="fortigate">
            ddsdsd
        </div>
        <div class="table-responsive">
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th scope="col">Date</th>
                        <th scope="col">Time</th>
                        <th scope="col">Type</th>
                        <th scope="col">Src IP</th>
                        <th scope="col">Src Name</th>
                        <th scope="col">Dst IP</th>
                        <th scope="col">Dst User</th>
                        <th scope="col">Service</th>
                        <th scope="col">OS Name</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let data of dataWare">
                        <td class="d-flex align-items-center">
                            <input type="checkbox">
                            {{data.date}}
                        </td>
                        <td>{{data.time}}</td>
                        <td><i class="fa fa-circle"></i>{{data.type}}</td>
                        <td>{{data.srcIP}}</td>
                        <td>{{data.srcName}}</td>
                        <td>{{data.dstIP}}</td>
                        <td>{{data.dstUser}}</td>
                        <td>{{data.service}}</td>
                        <td>{{data.OSName}}</td>
                        <td><i class="fa fa-circle"></i><i class="fa
                                fa-circle"></i><i class="fa
                                fa-circle"></i></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>